[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-eventgrid = "*"
azure-mgmt-eventgrid = ">=2.0.0rc1"
azure-mgmt-resource = "*"
haikunator = "*"

[dev-packages]
pylint = "*"

[pipenv]
allow_prereleases = true
