[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-eventgrid = "*"
azure-mgmt-eventgrid = "*"
azure-mgmt-resource = "*"
haikunator = "*"

[dev-packages]
pylint = "*"
